@media screen and (min-width: 768px) and (max-width: 991px) {}
@media screen and (max-width: 767px) {
    
    // .works_list-item img.is-hover {
    //     display: none !important;
    // }

    .progress_bar { display: none }
    
    .fsmenu {
        p.card-text { max-width: unset }
    }
    
    .blahblah {
        flex-direction: column;
    }

    .description,
    .images {
        width: 100%;
    }
    
    .description { margin-bottom: 30px; }

    .images {
        .scroll-el {
            align-items: flex-start;
            margin-bottom: 30px;
            &::after {
                font-size: 2rem;
                margin-left: 20px;
            }
        }
    }
    
    .about {
        &_hover {
            width: 200px;
            opacity: 1;
          }
        &_description {
//            display: flex;
//            justify-content: center;
//            align-items: center;
            flex-direction: column;
        }
        &_avatar {
//            opacity: .2;
            max-width: 220px;
//            border-radius: 500px;
        }
        &_text {
//            position: relative;
            left: auto;
            text-align: center;
            font-size: 2rem;
//            font-weight: 900;
//            font-style: italic;
//            line-height: 1.5;
//            letter-spacing: 1px;
//            -webkit-text-fill-color: var(--title-color);
            &::before {
                content: 'hah, touch to show gif';
                font-size: .6rem;
                top: 10px;
            }
        }
//        .cv {
//            display: flex;
//            align-items: center;
//            justify-content: flex-start;
//        }
        .contact {
            font-size: 14px;
//            list-style: none;
//            display: flex;
//            flex-direction: column;
//            padding: 0;
//            font-weight: 500;
//            li { flex: 1 }
//            a {
//                line-height: 2.5;
//                filter: blur(3px);
//                &:hover { filter: blur() }
//            }
        }


        #burger-wrapper button {
            border: none;
            margin: 0;
            padding: 0;
            width: inherit;
            height: inherit;
            overflow: visible;
            background: transparent;
            color: var(--title-color);
            font-family: inherit;
            font-weight: 500;
            font: inherit;
            line-height: normal;
            text-align: center;
            text-decoration: none;
            outline: none;
            font-size: 9px;
            letter-spacing: 1px;
            text-transform: uppercase;
            cursor: pointer;
            white-space: normal;
            -webkit-font-smoothing: inherit;
            -moz-osx-font-smoothing: inherit;
            -webkit-appearance: none;
            &:hover { color: var(--cv-button) }
        }

        #burger-wrapper {
            margin: 0 auto;
            width: 140px;
            height: 140px;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
        }

        #burger-circle {
            width: 70px;
            height: 70px;
            border-radius: 100px;
            position: absolute;
            border: 1px solid $yellow;
        }

    }
    
    .cases {
        .card {
            flex: auto;
            & + .card { margin-top: 30px; margin-left: 0; }
        }
        &_item {
            .tr-bl {
                .hidden_text {
                    opacity: 1;
                    transform: translateY(-50%);
                    .bg_text {
                      color: var(--cv-button);
                      &::after { width: 100% }
                    }
                }
            }
        }
    }
    
    ul.works_list {
        li {
            a {
                font-size: 1.7rem;
            }
        }
    }
    
}